.card {
    width: 200px;
    height: 300px;
    border: 3px solid black;  
    position: relative; 
}

.card > div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.card:hover > div {
    transform: rotateY(180deg);
    transition: 1s;
}

.card-back {
    background-color: red;
}

.card-front {
    background-color: blue;
    backface-visibility: hidden;
}